.search {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.input-group {
  font-family: "Oxygen";
  font-weight: 400;
  display: flex;
  padding: 2em;
  gap: 2em;
}

.input-group input:focus,
select:focus {
  box-shadow: 0px 0px 2px 2px rgba(136, 46, 46, 1) !important;
  border: #d34444 !important;
  background-color: #c4663d8a !important;
}

.input-group input::placeholder {
  color: #d34444 !important;
  opacity: 0.65;
}

.search-input {
  width: 24em !important;
  height: 3em !important;
  border-radius: 2em !important;
  padding: 2em;
  background-color: #c4663d44 !important;
  color: #d34444 !important;
}
